root = true
# Задаем форматирование для JS и CSS
[*.{html,js,css,json}]
indent_style = space
indent_size = 4
# Но не переформатируем минифицированные JS и CSS файлы.
[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore